<!-- login.component.html -->

<div class="modal">
  
  <!-- Show Sign Up form if isLogin is false -->
  <form *ngIf="!isLogin" (ngSubmit)="onSignUpSubmit()">
    <label for="name">Username</label>
    <input type="text" [(ngModel)]="user.name" name="name" required />

    <label for="phone">Phone Number</label>
    <input type="text" [(ngModel)]="user.phone" name="phone" required pattern="^[0-9]{10}$" />

    <label for="email">Email</label>
    <input type="email" [(ngModel)]="user.email" name="email" required />

    <label for="password">Password</label>
    <input type="password" [(ngModel)]="user.password" name="password" required />

    <button type="submit">Sign Up</button>
  </form>

  <!-- Show Login form if isLogin is true -->
  <form *ngIf="isLogin" (ngSubmit)="onLoginSubmit()">
    <label for="name">Username</label>
    <input type="text" [(ngModel)]="user.name" name="name" required />

    <label for="password">Password</label>
    <input type="password" [(ngModel)]="user.password" name="password" required />

    <button type="submit">Login</button>
 
  
  <button (click)="toggleForm()">
    {{ isLogin ? 'Don\'t have an account? Sign up' : 'Already have an account? Login' }}
  </button>
</form>
</div>
