<div class="car-models-container">
    <h2>Select Car Model</h2>
  
    <div *ngIf="carModels.length > 0">
      <div *ngFor="let car of carModels" class="car-card">
        <img [src]="car.image" alt="{{ car.model }}" class="car-image" />
        
        <div class="car-info">
          <h3>{{ car.model }}</h3>
          
          <div *ngIf="car.showTimeSlotDropdown; else selectCar">
            <label for="timeSlot">Select a Time Slot:</label>
            <select [(ngModel)]="car.selectedTimeSlot" id="timeSlot" name="timeSlot">
              <option *ngFor="let time of timeSlots" [value]="time">{{ time }}</option>
              <br/>
            </select>
            <br/>
            <button (click)="confirmTimeSlot(car)">Submit</button>
          </div>
  
          <ng-template #selectCar>
            <p>{{ car.description }}</p>
            <button (click)="toggleTimeSlotDropdown(car)">Select</button>
          </ng-template>
        </div>
      </div>
    </div>
  
    <div *ngIf="carModels.length === 0">
      <p>No car models available for this segment.</p>
    </div>
  </div>