.car-models-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}
 
h1 {
  margin-bottom: 30px;
  color: #333;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: 4px;
  color: #2c3e50;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
 
.car-models-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
  gap: 20px;
  padding: 0;
  justify-items: center;
}
 
.car-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 15px;
}
 
.car-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
 
.car-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
 
.car-image img {
  width: 100%;
  height: 100%;
}
 
.car-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  flex-grow: 1;
  padding: 15px;
  margin-top: 15px;
}
 
.car-details h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
 
.car-details p {
  font-size: 0.75em;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}
 
.date, .time-slots {
  margin-bottom: 20px;
}
 
.date strong, .time-slots strong {
  font-size: 1.1em;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
 
.date input, .time-slots select {
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}
 
.book-btn {
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  color: white;
  background-color: #2980b9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  display: block;
  text-align: center;
}
 
.book-btn:disabled {
  background-color: #ddd;
}
 
.book-btn:hover:not(:disabled) {
  background-color: #0056b3;
}
 
@media (max-width: 1200px) {
  .car-models-list {
    grid-template-columns: repeat(3, minmax(270px, 1fr));
  }
}
 
@media (max-width: 900px) {
  .car-models-list {
    grid-template-columns: repeat(2, minmax(270px, 1fr));
  }
}
 
@media (max-width: 600px) {
  .car-models-list {
    grid-template-columns: 1fr;
  }
}
 
 