<!-- Back Button -->
<div class="back-button" style="position: absolute; top: 20px; left: 20px; z-index: 1; cursor: pointer;">
  <i class="bi bi-chevron-double-left" (click)="goBack()" style="font-size: 2rem; color: #2c3e50;"></i>
</div>

<div>

  

  <!-- Tabs for selecting the segment -->
  <h1>Select Car Model</h1>
  <div class="tabs">
    <div
      *ngFor="let segment of response"
      class="tab"
      [class.active]="selectedSegment === segment.segment_id"
      (click)="onSelectSegment(segment.segment_id)">
      {{ segment.segment }}
    </div>
  </div>
 
  <!-- Display segment details based on the selected tab -->
  <div *ngIf="selectedSegmentDetails">
    <p>{{ selectedSegmentDetails.description }}</p>
    <ul>
      <li *ngFor="let model of selectedSegmentDetails.models">
        {{ model }}
      </li>
    </ul>
  </div>
 
  <!-- Car models and booking -->
  <div *ngIf="models.length > 0" class="car-models-container">
    
 
    <div class="car-models-list">
      <div *ngFor="let car of models" class="car-card">
        <div class="car-image">
          <img [src]="car.car_image" alt="{{ car.car_name }}" />
        </div>
 
        <div class="car-details">
          <h2>{{ car.car_name }}</h2>
 
          <div class="date">
            <strong>Date:</strong>
            <input type="date" [(ngModel)]="selectedDates[car.testdrive_id]" />
          </div>
 
          <div class="time-slots">
            <strong>Available Test Drive Slots:</strong>
            <select [(ngModel)]="selectedSlots[car.testdrive_id]">
              <option *ngFor="let slot of car.time_slots" [value]="slot">
                {{ slot }}
              </option>
            </select>
          </div>
 
          <button
            class="book-btn"
            [disabled]="!selectedDates[car.testdrive_id] || !selectedSlots[car.testdrive_id]"
            (click)="bookTestDrive(car)"
          >
            Book Test Drive
          </button>
        </div>
      </div>
    </div>
  </div>
 
  
</div>
 