<div class="test-drive-container">
  
    <h2>Select the car segment</h2>
    
    
    <div class="button-container">
      <button (click)="goToCarModels('5-seater')" class="left-button">SEDAN</button>
      <br>
      <br>
      <button (click)="goToCarModels('7-seater')" class="right-button">SUV</button>
  
      <br>
      <br>6
      <button (click)="goToCarModels('5-seater')" >HatchBack</button>
      <br>
      <br>
      <button (click)="goToCarModels('7-seater')" >Compact</button>
    </div>
  </div>