<div class="back-button-container" style="position: absolute; top: 20px; left: 20px; z-index: 1; cursor: pointer;">
  <i class="bi bi-chevron-double-left" (click)="goBack()" style="font-size: 2rem; color: #2c3e50;"></i>
</div>

<div class="user-history-container">
  <i class="bi bi-clock-history" (click)="history()"></i>
</div>

<div class="heading-container">
  <h1 class="txts">Car Resale</h1>
</div>
 
<div *ngIf="isModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h2>Booking Confirmation</h2>
    <div class="modal-body">
      <h3>Booked Cars:</h3>
      <div class="modal-car-list">
        <div *ngIf="IsBook else BookingHistory">
          <div *ngFor="let car of carHistory; let i = index" class="modal-car-item">
            <!-- First Car Image and Details Side-by-Side -->
            <div class="modal-car-container" [ngClass]="{'first-car': i === 0}">
              <img [src]="car.image" alt="car image" class="modal-car-image">
              <div class="modal-car-details">
                <p>Model: <strong> {{ car.model }}</strong> </p>
                <p>Price: <strong> ₹{{ car.price | number:'1.0-0' }}</strong> </p>
                <p>Kilometers: <strong> {{ car.km | number:'1.0-0' }} km</strong> </p>
                <p>Fuel Type: <strong> {{ car.fuelType }}</strong> </p>
                <p>Segment: <strong> {{ car.segment }}</strong></p>
                <p>Date: <strong> {{ car.dateTime | extractDateTime:0:10 | reverseDate}}</strong></p>
                <p>Time: <strong> {{ car.dateTime | extractDateTime:11:19}}</strong></p>

              </div>
            </div>
          </div>

        </div>
        <ng-template #BookingHistory>
          <h5>
              No histories found
        </h5></ng-template>
       
      </div>
    </div>
    <button (click)="closeModal()">Close</button>
  </div>
</div>

<div class="filter-container">
  <div class="filter-item">
    <label for="priceRange">Price Range:</label>
    <input
      type="range"
      id="priceRange"
      min="0"
      max="1500000"
      step="100"
      [(ngModel)]="price"
      (input)="onPriceChange(price)"
    >
    <span id="priceValue">₹{{ price | number:'1.0-0' }}</span>
  </div>
 
  <div class="filter-item">
    <label>Car Segment:</label>
    <div class="radio-buttons">
      <label *ngFor="let segment of segments">
        <input type="radio" name="segment" [(ngModel)]="selectedSegment" [value]="segment.name" (change)="onSearch()">
        {{ segment.name }}
      </label>
    </div>
  </div>
</div>
 
<div *ngIf="filteredCars.length === 0" class="no-cars">
 <h4> No cars to display</h4>
</div>
 
<div class="car-list-container">
  <!-- Left Arrow Button -->
  <div class="arrow-button-container left-arrow">
    <i class="bi bi-chevron-left" (click)="moveCarList('left')"></i>
  </div>
 
  <!-- Car List -->
  <div class="car-list" #carListContainer>
    <div *ngFor="let car of filteredCars" class="car-item">
      <img [src]="car.image" alt="{{ car.model }}" class="car-image">
      <div class="car-details">
        <h3>{{ car.model }}</h3>
        <p><strong>Price:</strong> ₹{{ car.price | number:'1.0-0' }}</p>
        <p><strong>Kilometers:</strong> {{ car.km | number:'1.0-0' }} approx.</p>
        <p><strong>Fuel Type:</strong> {{ car.fuelType }}</p>
        <p><strong>Segment:</strong> {{ car.segment }}</p>
        <button (click)="addToCart(car)">Book</button>
      </div>
    </div>
  </div>
 
  <!-- Right Arrow Button -->
  <div class="arrow-button-container right-arrow">
    <i class="bi bi-chevron-right" (click)="moveCarList('right')"></i>
  </div>
</div>
 
<div>
  <button routerLink="/cart" class="small-btn">Go to Bookings</button>
</div>
 